SECRET_KEY=
DEBUG=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

APP_ENV=

AI_API_KEY=

ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=